html, body {
    font-family: inherit;
    margin:0;
    padding:0;
}
nav {
    background-color: black;
    display: flex;
    justify-content: flex-end;
    padding: 25px;
    position: fixed;
    top: 0;
    z-index: 100;
    right: 0;
    left: 0;
}
nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 35px;
    font-weight: bold;
}
header {
    height: 100vh;
    background-color: #3366ff;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header h1 {
    color: #80ff80;
    font-size: 170px;
    margin-bottom: 0;
    font-weight: bold;
    top: 0;
}
header p {
    color: #80ff80;
    font-size: 25px;
    margin-top: 0;
}
section {
    text-align: center;
    padding: 20px;
}
#about {
    height: 100vh;
    background-color: red;
}
#faq {
    height: 100vh;
    background-color: purple;
}
#developers {
    height: 100vh;
    background-color: pink;
}
#developers ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 15px;
    margin: 0px;

  }
  #developers ul a {
    height: 100px;
    width: 100px;
    font-size: 75px;
    margin: 0 50px;
    border: 5px solid white;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
#bar {
    transform: scale(1, 1.50);
}